body{
    background: rgb(56, 56, 56);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
    height: 700px;
}
.top{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}
.center{
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: space-around;
    background-color:transparent;
}

.tool{
    height: 250px;
    width:250px;;
    display: flex; 
    justify-content: center;
    align-self: center;
    align-items: center;
    background-color: rgb(41, 40, 40);
    border: 4px solid rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 50% 20% / 10% 40%;

}
.tool:hover,img:hover{
    width:300px;
    height: 300px;
}